#ignore all files
/*
#List of file types to include in the root folder
!*.asc
!*.dbf
!*.hipnc
!*.m
!*.prj
!*.qpj
!*.shp
!*.xml

#List of selected files to include in the root folder
!.gitignore
!InputConcentration.mat

#--------INPUT FOLDER--------
!/input
/input/*
!/input/*.npsat
!/input/BC_files

!/NPSAT_input_files_BAU
/NPSAT_input_files_BAU/*
!*.md

!/input_tr
/input_tr/*
!/input_tr/*.npsat
!/input_tr/*.m
!/input_tr/*.md





